<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-type-service-oce-heading" jhiTranslate="openCivicEngagementApp.typeService.home.createOrEditLabel">Create or edit a Type Service</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.nameShort" for="field_nameShort">Name Short</label>
                    <input type="text" class="form-control" name="nameShort" id="field_nameShort"
                           formControlName="nameShort"/>
                    <div *ngIf="editForm.get('nameShort')!.invalid && (editForm.get('nameShort')!.dirty || editForm.get('nameShort')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameShort')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameShort')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.nameLong" for="field_nameLong">Name Long</label>
                    <input type="text" class="form-control" name="nameLong" id="field_nameLong"
                           formControlName="nameLong"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.typeServiceColor" for="field_typeServiceColor">Type Service Color</label>
                    <input type="text" class="form-control" name="typeServiceColor" id="field_typeServiceColor"
                           formControlName="typeServiceColor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.uuidOce" for="field_uuidOce">Uuid Oce</label>
                    <input type="text" class="form-control" name="uuidOce" id="field_uuidOce"
                           formControlName="uuidOce"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.uuidOrganisation" for="field_uuidOrganisation">Uuid Organisation</label>
                    <input type="text" class="form-control" name="uuidOrganisation" id="field_uuidOrganisation"
                           formControlName="uuidOrganisation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.uuidEntity" for="field_uuidEntity">Uuid Entity</label>
                    <input type="text" class="form-control" name="uuidEntity" id="field_uuidEntity"
                           formControlName="uuidEntity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.archived" for="field_archived">Archived</label>
                    <input type="checkbox" class="form-control" name="archived" id="field_archived"
                           formControlName="archived"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.typeService.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
