<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeService">
            <h2><span jhiTranslate="jhipsterApp.typeService.detail.title">Type Service</span> {{ typeService.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.typeService.nameShort">Name Short</span></dt>
                <dd>
                    <span>{{ typeService.nameShort }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.typeService.nameLong">Name Long</span></dt>
                <dd>
                    <span>{{ typeService.nameLong }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.typeService.description">Description</span></dt>
                <dd>
                    <span>{{ typeService.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.typeService.typeServiceColor">Type Service Color</span></dt>
                <dd>
                    <span>{{ typeService.typeServiceColor }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-service-oce', typeService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
