<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.organisation.home.title">Organisations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation-oce" [routerLink]="['/organisation-oce/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.organisation.home.createLabel">
            Create a new Organisation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="organisations?.length === 0">
        <span jhiTranslate="jhipsterApp.organisation.home.notFound">No organisations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="organisations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhipsterApp.organisation.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="jhipsterApp.organisation.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="legalId"><span jhiTranslate="jhipsterApp.organisation.legalId">Legal Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accreditation"><span jhiTranslate="jhipsterApp.organisation.accreditation">Accreditation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="additionalInformation"><span jhiTranslate="jhipsterApp.organisation.additionalInformation">Additional Information</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="legalStatus"><span jhiTranslate="jhipsterApp.organisation.legalStatus">Legal Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let organisation of organisations ;trackBy: trackId">
                    <td><a [routerLink]="['/organisation-oce', organisation.id, 'view']">{{ organisation.id }}</a></td>
                    <td>{{ organisation.name }}</td>
                    <td>{{ organisation.description }}</td>
                    <td>{{ organisation.legalId }}</td>
                    <td>{{ organisation.accreditation }}</td>
                    <td>{{ organisation.additionalInformation }}</td>
                    <td jhiTranslate="{{ 'jhipsterApp.LegalStatus.' + organisation.legalStatus }}">{{ organisation.legalStatus }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/organisation-oce', organisation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/organisation-oce', organisation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(organisation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
