<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comment-oce-oce-heading" jhiTranslate="openCivicEngagementApp.commentOce.home.createOrEditLabel">Create or edit a Comment Oce</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                              formControlName="content"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.commentDate" for="field_commentDate">Comment Date</label>
                    <div class="d-flex">
                        <input id="field_commentDate" type="datetime-local" class="form-control" name="commentDate" formControlName="commentDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.uuidOce" for="field_uuidOce">Uuid Oce</label>
                    <input type="text" class="form-control" name="uuidOce" id="field_uuidOce"
                           formControlName="uuidOce"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.uuidOrganisation" for="field_uuidOrganisation">Uuid Organisation</label>
                    <input type="text" class="form-control" name="uuidOrganisation" id="field_uuidOrganisation"
                           formControlName="uuidOrganisation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.uuidEntity" for="field_uuidEntity">Uuid Entity</label>
                    <input type="text" class="form-control" name="uuidEntity" id="field_uuidEntity"
                           formControlName="uuidEntity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.archived" for="field_archived">Archived</label>
                    <input type="checkbox" class="form-control" name="archived" id="field_archived"
                           formControlName="archived"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openCivicEngagementApp.commentOce.actionService" for="field_actionService">Action Service</label>
                    <select class="form-control" id="field_actionService" name="actionService" formControlName="actionServiceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actionServiceOption.id" *ngFor="let actionServiceOption of actionservices; trackBy: trackById">{{ actionServiceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
