<div class="bg"></div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4" jhiTranslate="home.title"></h1>
  <p class="lead" jhiTranslate="home.subtitle"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" jhiTranslate="home.actionServiceDemande.title" ></h4>
      </div>
      <div class="card-body">
      	<h2><small class="text-muted text-justify" jhiTranslate="home.actionServiceDemande.description"></small></h2>
        <button routerLink="account/register-demande" type="button" class="btn btn-lg btn-block btn-outline-primary" jhiTranslate="home.actionServiceDemande.button"></button>
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" jhiTranslate="home.actionServiceProposition.title" ></h4>
      </div>
      <div class="card-body">
      	<h2><small class="text-muted text-justify" jhiTranslate="home.actionServiceProposition.description"></small></h2>
        <button routerLink="account/register-proposition" type="button" class="btn btn-lg btn-block btn-primary" jhiTranslate="home.actionServiceProposition.button"></button>
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" jhiTranslate="home.actionServiceDon.title" ></h4>
      </div>
      <div class="card-body">
      	<h2><small class="text-muted text-justify" jhiTranslate="home.actionServiceDon.description"></small></h2>
      	<h3><span class="badge badge-warning" jhiTranslate="home.actionServiceDon.descriptionBis">Warning</span></h3>
      	<br><br/>
        <a href="https://www.onparticipe.fr/cagnottes/dDZlC23g" target="_blank"><button type="button" class="btn btn-lg btn-block btn-primary" jhiTranslate="home.actionServiceDon.button"
        		 ></button></a>
      </div>
    </div>
  </div>
  <!-- list de don .. -->
	<div class="jumbotron">
		<h1 class="text-center display-4">Liste des cagnottes partenaires</h1>
		<div class="container">
		  <div class="bg-light p-5 rounded mt-3">
		    <h1>Association 2 mars zarzis</h1>
		    <p class="lead">Salem.tout le monde comme prévu je mets la cagnotte en ligne pour aider notre quartier 2 mars à zarzis

1 aider les plus démunis 2 achat matériel médical et chaise et une grande tente pour les occasions 3 s'occuper de notre quartier route où élagage ou propreté 4 les jeunes qui veulent se marier ont peut leurs donner un coup de pousse 5 la rentrée scolaire + le Ramadan + les cas urgents

Merci à tous le monde d'avance</p>
		    <a class="btn btn-lg btn-primary" href="https://www.leetchi.com/fr/c/rnjO67jr?fbclid=IwAR04vVTJSLmVSWLu8iB79FRarfgm59PuHTaf2e8dioUer1q1LFyBAIZihhE" role="button" target="_blank">Je participe &raquo;</a>
		  </div>
		</div>
		<div class="container">
		  <div class="bg-light p-5 rounded mt-3">
		    <h1>Bottom Navbar example</h1>
		    <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
		    <a class="btn btn-lg btn-primary"  role="button">View navbar docs &raquo;</a>
		  </div>
		</div>
		<div class="container">
		  <div class="bg-light p-5 rounded mt-3">
		    <h1>Bottom Navbar example</h1>
		    <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
		    <a class="btn btn-lg btn-primary" >View navbar docs &raquo;</a>
		  </div>
		</div>
	</div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
<!--         <img class="mb-2" src="/docs/{{< param docs_version >}}/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
<!--         <small class="d-block mb-3 text-muted">&copy; 2017-{{< year >}}</small> -->
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a></li>
          <li><a class="link-secondary" 	href="#" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" >sign in</a></li>
          <li><a class="link-secondary" href="#">Team feature</a></li>
          <li><a class="link-secondary" href="#">Stuff for developers</a></li>
          <li><a class="link-secondary" href="#">Another one</a></li>
          <li><a class="link-secondary" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Resource</a></li>
          <li><a class="link-secondary" href="#">Resource name</a></li>
          <li><a class="link-secondary" href="#">Another resource</a></li>
          <li><a class="link-secondary" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>